  {% comment %}
    All themes by Shopify should support the Product Reviews app out of the box.
    https://apps.shopify.com/product-reviews
  {% endcomment %}
  
  <span class="shopify-product-reviews-badge" data-id="{{ product.id }}"></span>