    {% comment %}
      It would be nice if the logo was a shop setting, rather than a theme setting.
      But for now, it is a theme setting. The shop logo is uploaded on the theme settings page.
      Link to the theme settings page of currently published theme will always be:
      http://www.shopify.com/admin/themes/current/settings.
      To add theme settings to a theme, see this: http://docs.shopify.com/themes/theme-templates/settings
      Theme settings are added to http://www.shopify.com/admin/themes/current#config/settings.html
    {% endcomment %}

    {% if settings.use_logo %}
      <a id="logo" href="/">
        {{ 'logo.png' | asset_url | img_tag: shop.name }}
      </a>
    {% else %}
      <a id="site-title" href="/">
        {{ shop.name }}
      </a>
    {% endif %}