{% for block in section.blocks %}
  {% case block.type %}
    {% when 'release' %}
      <div class="release {{ block.shopify_attributes }}">
        {{ block.settings.release_artwork | image_url: width: 2048 | image_tag }}
      </div>
  {% endcase %}
{% endfor %}



{% schema %}
{
  "name": "Discography",
  "tag": "section",
  "class": "discography",
  "blocks": [
     {
       "name": "Release",
       "type": "release",
       "settings": [
         {
           "type": "image_picker",
           "id": "release_artwork",
           "label": "Cover art"
         },
         {
            "type": "text",
            "id": "release_title",
            "label": "Release name"
          },
         {
            "type": "text",
            "id": "artist_name",
            "label": "Artist"
          }
       ]
     },
     {
        "name": "Artist Links",
        "type": "artist_links",
        "settings": [
          {
             "type": "text",
             "id": "youtube",
             "label": "Youtube"
           },
          {
             "type": "text",
             "id": "spotify",
             "label": "Spotify"
           },
           {
            "type": "text",
            "id": "apple_music",
            "label": "Apple Music"
          },
          {
            "type": "text",
            "id": "itunes_store",
            "label": "iTunes Store"
          },
          {
            "type": "text",
            "id": "tidal",
            "label": "Tidal"
          },
          {
            "type": "text",
            "id": "soundcloud",
            "label": "Soundcloud"
          },
          {
            "type": "text",
            "id": "pandora",
            "label": "Pandora"
          },
          {
            "type": "text",
            "id": "deezer",
            "label": "Deezer"
          },
          {
            "type": "text",
            "id": "audiomack",
            "label": "Audiomack"
          }
        ]
      }
   ]
}
{% endschema %}
