<div class="films-container">
    {% for block in section.blocks %}
        {% case block.type %}
            {% when 'films' %}
                <img src="{{ block.settings.cover_artwork | image_url: width: 2048 }}" alt="{{ block.settings.film_title }} by {{ block.settings.artist_name }}" />
        {% endcase %}
    {% endfor %}
</div>




{% schema %}
{
  "name": "Films",
  "tag": "section",
  "class": "films",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Films"
    }
  ],
  "blocks": [
     {
       "name": "Film",
       "type": "film",
       "settings": [
         {
           "type": "image_picker",
           "id": "cover_artwork",
           "label": "Cover Artwork"
         },
         {
            "type": "text",
            "id": "film_title",
            "label": "Title"
          },
          {
            "type": "text",
            "id": "artist_name",
            "label": "Artist"
          }
       ]
     }
   ]
}
{% endschema %}
