<style>
    .films-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        padding: 40px 0 40px 0;
    }
    .films-container ul {
        list-style: none;
        margin: 0;
        padding: 0;
        text-align: center;
        width: 100%;
    }
    .films-container li {
        margin: 20px 0;
    }
    .films-container li p {
      text-transform: uppercase;
      margin: 0 0 14px 0;
      font-size: 2rem;
    }
    .films-container li a:hover {
      color: var(--red);
    }
    .films-container .video-embed {
      padding: 0 0 20px 0;
    }

</style>


<div class="films-container">
    <ul>
        {% for block in section.blocks %}
            {% case block.type %}
                {% when 'film' %}
                    <li class="film-item">
                        <div class="video-embed">
                            {{ block.settings.video_embed }}
                        </div> 
                        <div class="title">
                            <p>{{ block.settings.film_title }}</p>
                            <p>{{ block.settings.artist_name }}</p>
                        </div>
                    </li>
            {% endcase %}
        {% endfor %}
    </ul>

</div>




{% schema %}
{
  "name": "Films",
  "tag": "section",
  "class": "films",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Films"
    }
  ],
  "blocks": [
     {
       "name": "Film",
       "type": "film",
       "settings": [
         {
           "type": "textarea",
           "id": "video_embed",
           "label": "Embed Code"
         },
         {
            "type": "text",
            "id": "film_title",
            "label": "Title"
          },
          {
            "type": "text",
            "id": "artist_name",
            "label": "Artist"
          }
       ]
     }
   ]
}
{% endschema %}
