/* CSS stykes go in here */
/*
 *
 * Resets
 *
 */
* {
    box-sizing: border-box;
}
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
    width: 100%;
    max-width: 100%;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
    text-decoration: none;
    color: inherit;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000;
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;  
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}


/*
*
* Fonts
*
*/
@font-face {
    font-family: 'AR REGULAR';
    src: url('arial-webfont.woff2') format('woff2'),
         url('arial-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'AR BLACK';
    src: url('ariblk-webfont.woff2') format('woff2'),
         url('ariblk-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

/*
*
* Variables
*
*/
:root {
    --black: #000000;
    --white: #ffffff;
    --red: #FE0F00;
    --border-padding: 20px;
    --arial-black: 'AR BLACK', sans-serif;
    --arial: 'AR REGULAR', sans-serif;
    --max-container-width: 1400px;
}

/*
*
* Globals
*
*/
body {
    background: var(--black);
    color: var(--white);
    font-family: var(--arial-black);
    font-size: 24px;
    overflow-x: hidden;
}

/*
*
* Ajax Cart
*
*/
.items { 
    opacity: 1;
    transition: opacity .2s;
}
/* Make the area with controls visually disabled */
body.js-ajax-cart-request-in-progress .my-cart__items {
    opacity: .7;
}
/* Make the submit button visually disabled */
form.js-ajax-cart-form-in-progress [type="submit"] {
    opacity: .7;  
} 
/* Show a loading indicator */
form.js-ajax-cart-form-in-progress [type="submit"]:after { 
    content: 'Adding to cart…';
    display: block; 
}

.large-nav.mobile {
    display: none;
}
.large-nav {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;
    padding: var(--border-padding);
  }
  .large-nav ul {
      list-style: none;
      margin: 0;
      width: 100%;
  }
  .large-nav a {
      font-size: 6vw;
      line-height: 0.9;
      text-transform: uppercase;
  }
  .large-nav a:hover {
      color: var(--red);
  }
  nav.mobile {
    border-top: 0px solid var(--white) !important;
  }
  /* Newsletter */
  #desktop-newsletter {
    display: flex;
  }
  #mobile-newsletter {
    display: none;
  }
  @media screen and (max-width: 770px) {
    .large-nav.mobile {
        display: flex;
    }
    #desktop-newsletter {
      display: none;
    }
    #mobile-newsletter {
      display: flex;
    }
  }
  .newsletter {
    display: flex;
    justify-content: flex-end;
    width: 50%;
  }
  /*
  * =====================================
  * MEDIA QUERIES
  * =====================================
  */
  @media screen and (max-width: 770px) {
    .newsletter {
        width: 100%;
    }
    .index-container {
      padding: 0 0 50px 0;
    }
    .large-nav {
      padding: 0;
      border-bottom: 2px solid var(--white);
    }
    .large-nav a {
      font-size: 12vw;
    }
    .large-nav ul {
      display: flex;
      flex-direction: column;
      padding: 20px;
      width: 100%;
    }
    .large-nav li {
      margin: 0 0 10px 0;
    }
  }