<style>

.collection-container {
    padding: 80px 0;
  }
  ul.products {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns:  1fr 80px 1fr;
    grid-template-columns:  1fr 1fr;
    -ms-grid-rows: auto;
    grid-template-rows: auto;
    grid-gap: 80px;
    width: 80%;
    max-width: var(--max-container-width);
    margin: 0 auto;
  }
  ul.products > *:nth-child(1) {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }
  ul.products > *:nth-child(2) {
    -ms-grid-row: 1;
    -ms-grid-column: 3;
  }
  .products li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .products img {
    min-width: 25vw;
    width: 600px;
    max-width: 100%;
  }
  .products a.price {
    margin-top: 20px;
    font-size: 2.4rem;
  }

  /*
  *
  * MEDIA QUERIES
  *
  */
  @media screen and (max-width: 767px) {
    .collection-container {
      padding: 40px 0px;
    }
    ul.products {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      width: 100%;
      padding: 0px;
    }
  }
</style>

{% comment %}
  Important notes about pagination:
  - Never access collection.products before the opening paginate tag.
  - Never paginate by more than 50.
{% endcomment %}
<div class="collection-container">
  {% paginate collection.products by 10 %}

    <ul class="products">
      {% for product in collection.products %}
      
          {% include 'product-item' %}
      
      {% else %}
        <p>There are no products in this view.</p>
      {% endfor %}
    </ul>

    {% if paginate.pages > 1 %}
      {{ paginate | default_pagination }}
    {% endif %}

  {% endpaginate %}
</div>



  



