<style>
  .index-container {
    width: 100%;
    height: calc(100vh - 100px);
    min-height: -webkit-fill-available;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
</style>

<div class="index-container">

  <div class="index-header">
    <div class="logo">
      <img src="https://cdn.shopify.com/s/files/1/0558/6455/7665/files/logo.png?v=1653611436" alt="SEVENSEVENSEVEN" onclick="window.location='/';" />
    </div>
  </div>

  <div class="large-nav">
    <ul>
      {% for link in linklists.main-menu.links %}
        <li class="{% if link.active or parent_link_active %} active{% endif %}{% if has_sub_menu or has_sub_categories %} has-dropdown{% endif %}{% if forloop.first %} first{% elsif forloop.last %} last{% endif %}">
          <a href="{{ link.url }}">{{ link.title }}{% if has_sub_menu or has_sub_categories %} <i class="fa fa-angle-down"></i>{% endif %}</a>          
        </li>
      {% endfor %}

      <li>
        <a href="/cart" title="Cart">Cart ({{ cart.item_count }})</a>
      </li>
    </ul>

    <div class="newsletter" id="desktop-newsletter">
      {% render 'newsletter-signup' %}
    </div>

  </div>
</div>

<div class="newsletter" id="mobile-newsletter">
  {% render 'newsletter-signup' %}
</div>